
.vs/Pokemon/v17/Browse.VC.opendb
*.vsidx
.vs/Pokemon/FileContentIndex/912c27ab-3fb3-479a-a260-eda8640aabac.vsidx
.vs/Pokemon/FileContentIndex/ad062393-868b-44e0-afa6-3880282af16a.vsidx
.vs/Pokemon/FileContentIndex/baf67ab8-ce28-4829-9956-a85c8063bde5.vsidx
.vs/Pokemon/FileContentIndex/f4c80ee0-3ab1-408a-b1f6-cf8b2768baaa.vsidx
.vs/Pokemon/v17/.suo
.vs/Pokemon/v17/Browse.VC.db
.vs/Pokemon/v17/.wsuo
.vs/Pokemon/v17/Browse.VC.db-shm
.vs/Pokemon/v17/Browse.VC.db-wal
.vs/Pokemon/v17/ipch/AutoPCH/7e9d3ce7ab405740/MONSTER.ipch
.vs/Pokemon/v17/ipch/AutoPCH/f181871c749753df/POKEMON.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
x64/Debug/mewtwo.obj
x64/Debug/monster.obj
x64/Debug/pikachu.obj
x64/Debug/Pokemon.exe
x64/Debug/Pokemon.exe.recipe
x64/Debug/Pokemon.ilk
x64/Debug/pokemon.obj
x64/Debug/Pokemon.pdb
x64/Debug/Pokemon.tlog/CL.command.1.tlog
x64/Debug/Pokemon.tlog/CL.read.1.tlog
x64/Debug/Pokemon.tlog/CL.write.1.tlog
x64/Debug/Pokemon.tlog/link.command.1.tlog
x64/Debug/Pokemon.tlog/link.read.2.tlog
x64/Debug/Pokemon.tlog/link.write.1.tlog
x64/Debug/Pokemon.tlog/Pokemon.lastbuildstate
x64/Debug/Pokemon.vcxproj.FileListAbsolute.txt
x64/Debug/squirtle.obj
x64/Debug/vc143.idb
x64/Debug/vc143.pdb
.vs/Pokemon/FileContentIndex/912c27ab-3fb3-479a-a260-eda8640aabac.vsidx
.vs/Pokemon/FileContentIndex/ad062393-868b-44e0-afa6-3880282af16a.vsidx
.vs/Pokemon/FileContentIndex/baf67ab8-ce28-4829-9956-a85c8063bde5.vsidx
.vs/Pokemon/FileContentIndex/f4c80ee0-3ab1-408a-b1f6-cf8b2768baaa.vsidx
.vs/Pokemon/v17/.suo
.vs/Pokemon/v17/.wsuo
.vs/Pokemon/v17/Browse.VC.db
.vs/Pokemon/v17/ipch/AutoPCH/7e9d3ce7ab405740/MONSTER.ipch
.vs/Pokemon/v17/ipch/AutoPCH/f181871c749753df/POKEMON.ipch
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
*.vsidx
.vs/Pokemon/v17/.suo
.vs/Pokemon/v17/.wsuo
.vs/Pokemon/v17/Browse.VC.db
x64/Debug/Pokemon.log
x64/Debug/Pokemon.tlog/unsuccessfulbuild
.vs/Pokemon/v17/.suo
.vs/Pokemon/v17/ipch/AutoPCH/f274b98ec3f56598/MONSTER.ipch
.vs/Pokemon/v17/.suo
